* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--blanco);
}

:root {
    --naranja-oscuro: #c55e22;
    --color-Dark: #16151A;
    --naranja: #F67011;
    --marron: #873800;
    --gris-oscuro: #262626;
    --gris-claro: #878787;
    --blanco: #ffe4d0;
}


body {
    width: 100%;
    height: 100vh;
    background-color: var(--color-Dark);
    /* ocupa todo la pantalla visible */
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

article header {
    height: 10%;
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--naranja-oscuro);
}


article {
    /* border: 2px solid var(--gris-claro); */
    background-color: var(--gris-oscuro);
    box-shadow: 0px 2px 10px black;
    width: 30%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    position: relative;
    border-radius: 10px;
}

article input {
    width: 70%;
    height: 3rem;
    border-radius: 4px;
    border: 1px solid black;
    background-color: var(--color-Dark);
    padding-left: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;

    /* border-bottom: #5f5b5b 1px outset;
    border-right: #5f5b5b 1px outset; */
    /* ESTAS DOS ULTIMAS DOS LINEAS NO SE SI JUEGAN */
}

article input:focus {
    outline: none;
    border: 1px solid var(--naranja);
    /* transform: scale(1.05); */
    /* VER SI DEJO ESTO O NO */

}

input::placeholder {
    color: var(--blanco);
    font-weight: 500;
}

input:hover {
    /* background-color: var(--naranja-oscuro); */
    transform: scale(1.05);
}


article button {
    width: 70%;
    height: 3rem;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    background-color: var(--naranja);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s ease;
}

article button:hover {
    background-color: var(--marron);
    color: white;
}