* {
    list-style: none;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
    color: #b8b9c1;
    box-sizing: border-box;
    text-decoration: none;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background-color: rgb(24, 24, 27);
    box-sizing: border-box;
    overflow: hidden;
    animation: fadeInUp 1.5s ease;
}


header {
    height: 10vh;
    display: flex;
    position: relative;
    transition: all 0.5s ease;

}

header:hover {
    scale: 1.05;
    padding: 0rem 2rem;
}

header nav {
    transition: all 0.5s ease;

}

.hipervinculo {
    transition: all 0.5s ease;
}

.hipervinculo:hover {
    color: rgb(68, 67, 67);
    padding-right: 2rem;
}


header:hover h2,
header:hover a {
    color: #f7f7f8;
}

header h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transition: all 0.5s ease;
}

.inicio {
    padding: 1rem 2rem;
    height: calc(100vh - 10vh);
    box-sizing: border-box;

}

.inicio h3 {
    font-weight: 900;
    font-size: 1.3rem;
}