* {
    /* border: red 1px solid; */
    box-sizing: border-box;

}



:root {
    --transicion: all 0.7s ease;
}


header nav {
    width: 100%;
    display: flex;
    transition: all 0.5s ease;
    justify-content: end;
    align-items: center;
    padding: 0 4rem;
}





.informacion {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.informacion h3 {
    margin-top: 6rem;
    text-align: center;
    width: 100%;
}

.informacion p {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 1rem 4rem;
    text-align: center;
    align-content: center;
    font-size: 1.1rem;
    justify-self: center;
}


.imagenes {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    height: 35%;
    margin: auto;
    gap: .5rem;
}

.parrafo {
    width: 100%;
    height: 50%;
}

.imagenes div {
    flex: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: var(--transicion);
}

.imagenes div:hover {
    flex: 3;
}

.imagenes div:hover img {
    transform: translateY(-10%);
    /* scale: 1.1; */
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transicion);
    box-sizing: border-box;
    border-radius: 10px;
    /* filter: blur(4px); */

}

.imagenes:hover img {
    filter: blur(3px);
    opacity: 0.5;
}

.imagenes:hover img:hover {
    /* scale: 1.1; */
    /* padding: 20px; */
    filter: blur(0px);
    opacity: 1;

}