* {
    font-family: Arial, Helvetica, sans-serif;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

table {
    border: 2px solid black;
    width: 300px;
    height: 200px;
    border-collapse: collapse;

    * {
        font-weight: 600;
    }
}

td {
    border: 1px solid black;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(181, 180, 180);
}